.overlay.open {
   display: block;
   position: fixed;
   content: "";
   top: 35px;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.67);
   filter: blur(11px);
   backdrop-filter: blur(11px);
   z-index: 11;
   @media screen and (min-width: 1024px) {
      display: none;
   }
}

.header__mobile-menu {
   @media screen and (min-width: 1024px) {
      display: none;
   }
   position: fixed;
   top: 35px;
   left: -265px;
   width: 265px;
   height: 100%;
   padding-top: 20px;
   padding-bottom: 55px;
   z-index: 999;
   background-color: #21233d;
   transition: all 600ms;
   overflow: auto;

   &::-webkit-scrollbar {
      width: 4px;
   }
   &::-webkit-scrollbar-thumb {
      background: rgba(103, 164, 69, 0.32);
      border-radius: 3px;
   }

   &.open {
      left: 0;
   }

   &--languages {
      display: inline-flex;
      align-items: center;
      padding-left: 15px;
   }

   &--language-ua,
   &--language-ru {
      font-size: 12px;
      color: #ffffff;
   }

   &--language-ua {
      text-decoration: underline;
   }

   &--language-ru {
      opacity: 0.4;
   }

   &--language-ua.no-active {
      opacity: 0.4;
      text-decoration: none;
   }

   &--language-ru.active {
      text-decoration: underline;
      opacity: unset;
   }

   &--switch {
      position: relative;
      display: inline-block;
      width: 31px;
      height: 16px;
      margin: 0 5px;
   }

   &--switch input {
      display: none;
   }

   &--switch-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 44px;
      transition: 0.4s;
   }

   &--switch-slider::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 14px;
      background-color: #67a445;
      border-radius: 44px;
      transition: 0.4s;
   }

   input:checked + &--switch-slider::before {
      transform: translateX(13px);
   }

   &--title {
      display: block;
      margin-top: 18px;
      padding: 9px 15px;
      color: #ffffff;
      background-color: #1a1c34;
      border-top: 1px solid rgba(126, 126, 126, 0.13);
   }

   &--item > &--item-link {
      display: flex;
      align-items: center;
      padding: 12px 15px;
      font-size: 12px;
      line-height: 1.5;
      color: #ffffff;
      border-top: 1px solid rgba(126, 126, 126, 0.13);
   }

   &--item-icon {
      width: 25px;
      height: 18px;
      margin-right: 5px;
      fill: #67a445;
   }

   &--profile,
   &--contacts {
      display: flex;
      align-items: center;
      font-size: 14px;
      padding: 12px 15px;
      color: #ffffff;
      border-top: 1px solid rgba(126, 126, 126, 0.13);
      background-color: #1a1c34;
   }

   &--phones-icon {
      margin-right: 10px;
   }

   &--profile-icon {
      width: 25px;
      height: 18px;
      margin-right: 5px;
   }

   &--phones {
      display: flex;
      align-items: center;
      padding: 7px 15px 0 15px;
   }

   &--phones-list {
      padding-left: 10px;
      border-left: 1px solid #ffffff;
   }

   &--phones-list-item:not(:last-child) {
      margin-bottom: 5px;
   }

   &--phones-list-item > &--phones-list-item-link {
      display: block;
      font-size: 12px;
      color: #ffffff;
   }

   &--phones-list-item-link span {
      font-weight: 700;
      color: #67a445;
   }

   &--close-icon {
      position: absolute;
      right: 10px;
      top: 10px;
   }
}
